/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
    --main-color: #EFEFEF;
    --body-color: #f0f0f0;
    --container-color: #e6e6e6;
    --heading-color: #E1E1E1;
    --primer-color: #130A17;
    --segundo-color: #2A1633;
    --tercer-color: #FF8000;
    --cuarto-color: #FF8020;
    --quinto-color: #dedddd;
    --title-color: #232323;
    --text-color: #232323;


    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Poppins', sans-serif;
    --h2-font-size: 2rem;
    --h3-font-size: 1.25rem;;
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

body, form, input, textarea, select, textarea{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .3s;
}

html::-webkit-scrollbar {
    width: 0.5rem;
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--segundo-color)
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: 800;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 960px;
    margin: auto;
    width: 100%;
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.header-active {
    background: var(--quinto-color);
    transition: 0.4s all ease;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--title-color)
}

.logo img{
    width: 100px;
}

.navbar {
    display:  flex;
    align-items: center;
    column-gap: 1.5rem;
}

.nav-link {
    font-size: 0.94rem;
    padding: 4px 8px;
    border-radius: 0.2rem;
    color: var(--title-color);
}

.nav-link:hover {
    color: var(--tercer-color);
    background-color: var(--container-color);
    transition: 0.3s all linear; 
}

/* MENU DE ICONOS */

.menu-icon {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    z-index: 200;
    transition: 0.3s;
}

.menu-icon div {
    display: block;
    background: var(--primer-color);
    height: 2px;
    width: 24px;
    transition: 0.3s;
}

.move .line1 {
    transform: rotate(-45deg) translate(-5px,5px); 
}
.move .line2 {
    opacity: 0;
}
.move .line3 {
    transform: rotate(45deg) translate(-5px,-5px); 
}

/* INICIO */

.home {
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7rem;
}

.home-content {
    position: relative;
    max-width: 600px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: var(--primer-color);
    overflow: hidden;
    margin-bottom: 2rem;
}

.home-img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    object-position: center;
}

.home-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home-text h3 {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1.1rem;
    color: var(--segundo-color)
}
.home-text h3::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    left: -15px;
    width: 20px;
    height: 2px;
    background: var(--tercer-color);
}

.home-text h3::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    right: -35px;
    width: 20px;
    height: 2px;
    background: var(--tercer-color);
}

.home-text h2 {
    font-size: 3.5rem;
    line-height: 4.8rem;
}

.home-text p {
    font-size: 0.930rem;
    margin-bottom: 1.5rem;
}

.home-text .color {
    color: var(--segundo-color);
}

.social {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.social .bx {
    font-size: 1.3rem;
    padding: 10px;
    border-radius: 50%;
    color: var(--body-color);
    background-color: var(--segundo-color);
}
.social .bx:hover {
    background-color: var(--tercer-color);
    transition: 0.3s all linear;
}

/* PERFIL */

.heading {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--title-color);
    text-align: center;
    margin: 13.5rem 0 4rem 0;
}

.about-content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem
}

.about-data span{
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--segundo-color)
}

.about-data h2{
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 800;
    margin: 1rem 0;
}

.btn {
    font-size: 0.97rem;
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    color: var(--body-color);
    background: var(--segundo-color);
    padding: 12px 16px;
    border-radius: 0.4rem;
    margin-top: 1rem;
}

.btn:hover {
    background: var(--tercer-color);
    transition: 0.3s all linear;
}

.btn .bx {
    font-size: 1.2rem;
}

.about-text p {
    font-size: 0.9rem;
    letter-spacing:1px;
    text-align: justify;
    margin-bottom: 1.5rem;
}

/* SERVICIOS */

.services-content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.services-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:15px;
    background: #dedddd;
    border-radius: 0.3rem;
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.services-box:hover {
    transform: scale(1.03);
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.services-box .bx {
    font-size: 1.4rem;
    color: var(--segundo-color);
    padding: 10px;
    border-radius:5rem;
    border: 2px dashed var(--tercer-color);
}

.services-box h2 {
    font-size: 1.3rem;
    line-height: 2.6rem;
    font-weight: 800;
    margin: 1rem 0;
}

.services-box p {
    font-size:0.8rem;
}

/* PORTAFOLIO */

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.portfolio-box {
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 0.8rem;
    overflow: hidden;
    z-index: -2;
}

.portfolio-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.portfolio-overlay {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(234, 45%,16%,0.7);
}

.portfolio-overlay h2 {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--main-color);
}

.portfolio-overlay .bx {
    font-size: 24px;
    padding: 10px;
    background: var(--segundo-color);
    color: var(--main-color);
    border-radius: 4px;
}

.portfolio-overlay .bx:hover {
    background: var(--tercer-color);
    transition: 0.3s all linear;
}
.portfolio-box:hover .portfolio-overlay {
    top: 0;
    transition: 0.3s all ease 0s;
}

/* PROYECTOS */

.projects-content {
    display: grid;
    grid-template-columns: repeat(3,200px);
    justify-content: center;
    gap: 1.5rem;
}

.projects-box {
    padding: 20px 10px;
    background: #dedddd;
    border-radius: 0.4rem;
    text-align: center;
}

.projects-box h2 {
    font-size: 1.2rem;
    font-weight:700;
}
.projects-box span {
    font-size: 0.845rem
}

/* VALORACIONES */

.reviews {
    max-width: 750px;
    margin: auto;
    width: 100%;
}

.reviews-box {
    max-width: 550px;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 3.5rem !important;
}

.reviews-box .bx {
    font-size: 1.8rem;
    color: var(--segundo-color);
    margin: 0.5rem 0;
}

.reviews-box .reviews-text {
    font-size: 0.893rem;
    margin: 1rem 0;
}

.reviews-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews-profile h2 {
    font-size: 1rem;
    line-height: 1.2rem;
    color: var(--segundo-color);
    font-weight: 700;
}

.reviews-profile span {
    font-size: 0.8rem;
    margin: 0.5rem 0 0.7rem;
}

.reviews-box img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 4px;
    border: 2px solid var(--segundo-color);
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    object-position: center;
}

.swiper-pagination-bullet {
    width: 6px !important;
    height: 6px !important;
    border-radius: 0.2rem !important;
    background: var(--tercer-color) !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    width: 1.5rem !important;
    background: var(--tercer-color) !important;
    transition: 0.3s all ease;
}

/* CONTACTO */

.contact-form {
    max-width: 600px;
    margin: auto;
    width: 100%;
    display: grid;
    row-gap: 1rem;
}

.contact-form input, .contact-form textarea {
    border: none;
    outline: none;
    font-size: 0.8rem;
    padding: 15px;
    background: var(--quinto-color);
    border-radius:0.3rem;
}

.contact-form .send-btn {
    width: 120px;
    font-size: 0.9rem;
    letter-spacing:1px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px;
    background: var(--segundo-color);
    color: var(--container-color);
    cursor: pointer;
}

.contact-form .send-btn:hover {
    background: var(--tercer-color);
    transition: 0.3s all linear;
}

/* FOOTER */

.footer {
    display:flex;
    align-items:center;
    flex-direction:column;
    row-gap: 1.4rem;
    padding: 25px 0;
}

.footer p {
    font-size: 0.8rem;
}

.footer-links {
    display:flex;
    align-items:center;
    column-gap: 1rem;
}

.footer-links a {
    font-size: 0.893rem;
    font-weight: 400;
    color: var(--segundo-color);
}

.footer-links a:hover {
    color: var(--tercer-color);
    transition: 0.3s all linear;
}

/* SCROLL TOP */

.scroll-top {
    position: fixed;
    bottom: -100%;
    right: 1.5rem;
}

.scroll-top .bx {
    padding: 8px;
    font-size: 1.2rem;
    color: var(--body-color);
    background: var(--segundo-color);
    border-radius: 0.2rem;
}

.scroll-top .bx:hover {
    background: var(--tercer-color);
    transition: 0.3 all ease;
}

.scroll-active {
    bottom: 2rem;
    transition: 0.3s;
}

/* RESPONIVE */

@media (max-width: 990px) {
    .container {
        margin: 0 auto;
        width: 90%;
    }
}

@media (max-width: 892px) {
    section {
        padding: 2rem 0;
    }

    .nav {
        padding: 12px 0;
    }

    .heading {
        font-size: 1.8rem
    }

    .portfolio-box {
        height: 200px;
    }


}

@media (max-width: 775px) {
    .logo img {
        width: 95px;
    }

    .home {
        min-height: 500px;
        padding-top: 6rem;
    }

    .home-text h3 {
        font-size: 1rem;
    }

    .home-text h2 {
        font-size: 3rem;
        line-height: 3.8rem;
    }

    .home-text p {
        font-size: 0.825rem;
    }

    .services-content,
    .portfolio-content {
        grid-template-columns: repeat(2,1fr);
    }

    

    .portfolio-box {
        height: 180px;
    }

    .menu-icon {
        display: flex;
    }

    .navbar {
        position: absolute;
        top: 0;
        right: -100%;
        width: 270px;
        height: 100vh;
        background: var(--quinto-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 20px;
        transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .open-menu {
        right: 0;
        transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .nav-link {
        display: block;
        margin: 1rem 0;
    }
}

@media (max-width: 635px) {
    .about-content {
        grid-template-columns: 1fr;
    }

    .about-data span {
        font-size: 0.8rem;
    }

    .about-data h2 {
        font-size: 1.5rem;
        line-height: 2.3rem;
        font-weight: 700;
        margin: 0.8rem 0;
    }

    .about-data p {
        font-size: 0.825;
    }

    .projects-content {
        grid-template-columns: repeat(2, 200px)
    }
}

@media (max-width: 450px) {
    .home {
        min-height: 485px;
        padding-top: 5rem;
    }

    .home-img {
        width: 140px;
        height: 140px;
    }

    .home-img img {
        width: 140px;
        height: 140px;
    }

    .home-text h2 {
        font-size: 2.1rem;
        line-height: 3rem;
    }

    .home-text p br{
        display: content;
    }

    .heading {
        font-size: 1.9rem;
        margin: 7rem 0 4rem 0;
    }

    .about-text h2 {
        font-size: 1.5rem;
        line-height: 2.1rem;
        margin: 0.6rem 0;
    }

    .services-content, 
    .portfolio-content,
    .projects-content {
        grid-template-columns:1fr;
    }

    .footer-links {
        flex-direction: column;
        row-gap: 1rem; 
    }

    .footer-links span {
        display: none;
    }

}

@media (max-width: 325px) {
    .navbar {
        width: 100%;
    }
    .portfolio-box {
        height: 120px;
    }
}