/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
    --main-color: #EFEFEF;
    --body-color: #f0f0f0;
    --container-color: #e6e6e6;
    --heading-color: #E1E1E1;
    --primer-color: #130A17;
    --segundo-color: #2A1633;
    --tercer-color: #FF8000;
    --cuarto-color: #FF8020;
    --title-color: #232323;
    --text-color: #232323;


    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Poppins', sans-serif;
    --h2-font-size: 2rem;
    --h3-font-size: 1.25rem;;
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .3s;
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: 800;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 960px;
    margin: auto;
    width: 100%;
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--title-color)
}

.logo img{
    width: 100px;
}

.navbar {
    display:  flex;
    align-items: center;
    column-gap: 1.5rem;
}

.nav-link {
    font-size: 0.94rem;
    padding: 4px 8px;
    border-radius: 0.2rem;
    color: var(--title-color);
}

.nav-link:hover {
    color: var(--tercer-color);
    background-color: var(--container-color);
    transition: 0.3s all linear; 
}

/* MENU DE ICONOS */

.menu-icon {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    z-index: 200;
    transition: 0.3s;
}

.menu-icon div {
    display: block;
    background: var(--primer-color);
    height: 2px;
    width: 24px;
    transition: 0.3s;
}

.move .line1 {
    transform: rotate(-45deg) translate(-5px,5px); 
}
.move .line2 {
    opacity: 0;
}
.move .line3 {
    transform: rotate(45deg) translate(-5px,-5px); 
}

/* INICIO */

.home {
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7rem;
}

.home-content {
    position: relative;
    max-width: 600px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: var(--primer-color);
    overflow: hidden;
    margin-bottom: 2rem;
}

.home-img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    object-position: center;
}

.home-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home-text h3 {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1.1rem;
    color: var(--segundo-color)
}
.home-text h3::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    left: -15px;
    width: 20px;
    height: 2px;
    background: var(--tercer-color);
}

.home-text h3::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    right: -35px;
    width: 20px;
    height: 2px;
    background: var(--tercer-color);
}

.home-text h2 {
    font-size: 3.5rem;
    line-height: 4.8rem;
}

.home-text p {
    font-size: 0.930rem;
    margin-bottom: 1.5rem;
}

.home-text .color {
    color: var(--segundo-color);
}

.social {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.social .bx {
    font-size: 1.3rem;
    padding: 10px;
    border-radius: 50%;
    color: var(--body-color);
    background-color: var(--segundo-color);
}
.social .bx:hover {
    background-color: var(--tercer-color);
    transition: 0.3s all linear;
}

/* PERFIL */

.heading {
    font-size: 2.7rem;
    text-transform: uppercase;
    color: var(--title-color);
    text-align: center;
    margin: 13.5rem 0 4rem 0;
}

.about-content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem
}

.about-data span{
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--segundo-color)
}

.about-data h2{
    font-size: 2rem;
    line-height: 2.6rem;
    font-weight: 800;
    margin: 1rem 0;
}

.btn {
    font-size: 0.97rem;
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    color: var(--body-color);
    background: var(--segundo-color);
    padding: 12px 16px;
    border-radius: 0.4rem;
    margin-top: 1rem;
}

.btn:hover {
    background: var(--tercer-color);
    transition: 0.3s all linear;
}

.btn .bx {
    font-size: 1.2rem;
}

.about-text p {
    font-size: 0.9rem;
    letter-spacing:1px;
    text-align: justify;
    margin-bottom: 1.5rem;
}

/* SERVICIOS */

.services-content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.services-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:15px;
    background: #dedddd;
    border-radius: 0.3rem;
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.services-box:hover {
    transform: scale(1.03);
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.services-box .bx {
    font-size: 1.4rem;
    color: var(--segundo-color);
    padding: 10px;
    border-radius:5rem;
    border: 2px dashed var(--tercer-color);
}

.services-box h2 {
    font-size: 1.7rem;
    line-height: 2.6rem;
    font-weight: 800;
    margin: 1rem 0;
}

.services-box p {
    font-size:0.9rem;
}

/* PORTAFOLIO */

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.portfolio-box {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 1rem;
    overflow: hidden;
}

.portfolio-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.portfolio-overlay {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(234, 45%,16%,0.7);
}

.portfolio-overlay h2 {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--main-color);
}

.portfolio-overlay .bx {
    font-size: 24px;
    padding: 10px;
    background: var(--segundo-color);
    color: var(--main-color);
    border-radius: 4px;
}

.portfolio-overlay .bx:hover {
    background: var(--tercer-color);
    transition: 0.3s all linear;
}
.portfolio-box:hover .portfolio-overlay {
    top: 0;
    transition: 0.3s all ease 0s;
}

/* PROYECTOS */

.projects-content {
    display: grid;
    grid-template-columns: repeat(3,200px);
    justify-content: center;
    gap: 1.5rem;
}

.projects-box {
    padding: 20px 10px;
    background: #dedddd;
    border-radius: 0.4rem;
    text-align: center;
}

.projects-box h2 {
    font-size: 1.2rem;
    font-weight:700;
}
.projects-box span {
    font-size: 0.845rem
}
